/* calculator.html */
body {
    height: 100vh;
    display: flex;
    background-color: white;
    color: black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    margin: 0;
    background-color: black;
    color: white;
}

html {
    height: 100%;
    margin: 0;
}

.themeButton {
    cursor: pointer;
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 8px 16px;
    border-radius: 10px;
    border: 3px solid transparent;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    /* margin-top: 20px;
    margin-left: 20px; */
    position: fixed;
    right: 20px;
    top: 20px;
    transition: background-color 0.5s ease;
}

.themeButton:hover {
    background-color: white;
    border-color:black;
    color: black;
}

.darkButton {
    border-color: white;
    color: white;
}

.calculatorNum {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 35px;
    background-color: rgb(26, 24, 24);
    color: white;
    padding: 5px;
    margin: 7px;
}

.calculator {
    display: flex;
    justify-content: space-between;
}