body {
    margin: 50px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    height: auto;
    width: 300px;
    font-size: 50px;
    background-color: lightsalmon;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgb(197, 125, 96);
}

p {
    font-size: 25px;
}

div {
    border: 3px solid black;
}
